# 모든 파일 무시
/*

# -----------------------------
# 남길 파일/폴더만 예외 처리
# -----------------------------
!/lib/
!/pubspec.yaml
!/pubspec.lock
!/assets

# lib 내부의 모든 파일 허용
/lib/**
/assets/**

# -----------------------------
# 필요하면 README.md도 유지 가능
!/README.md
